.createOrConnect {
    width: 180px;
    height: 45px;
    margin: 1%;
    margin-bottom: 2%;
    background-color: rgb(65, 149, 65);
    border: none;
    padding: 1%;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}