ul {
    padding-left: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-align: center;
    display: block;
    color: #adb5bd; /* Bootstrap light color */
    font-size: 24px;
}

ul li a:hover {
    color: rgb(10, 125, 10); /* Change color on hover */
    text-decoration: none;
}